extends layout
block content
    include includes/navbar
    link(rel="stylesheet", href="./stylesheets/dashboard.css")
    script(type="text/babel" src="./js/charts/topSellingSpotsChart.js")
    script(type="text/babel" src="./js/charts/freqBoughtTogetherChart.js")
    script(type="text/babel" src="./js/charts/visitingHoursPerAgeChart.js")
    script(type="text/babel" src="./js/charts/percentagePerCategoryChart.js")
    script(type="text/babel" src=".././js/charts/profitTimelineChart.js")
    script(type="text/babel" src=".././js/charts/productsPerPetChart.js")
    .container-fluid
      .row
        .col
          h4 Top Selling Spots
          .chart-container
            #top_selling_spots_chart
        .col
          h4 Most visited hours per age bracket   
          .chart-container
            #visiting_hours_per_age_chart
      .row
        .col
          h4 Store label products sales per category (%)
          .chart-container
            #percentage_per_category_chart
        .col
          h4 Frequently bought together     
          .chart-container
            #frequently_bought_together_chart
      .row
        .col
          h4 Most profitable hours
          .chart-container
            #profit_timeline__chart
        .col
          h4 No of pet shop products bought per pet
          .chart-container
            #products_per_pet_chart