extends layout
block content
    script(src="./js/loading.js")
    .container
        .row
            .col
                h3(style="margin: 2rem 1rem 0.8rem 1rem; padding: 0.5rem;") Building Database from DDL files 
        .row
            .col
                .spinner-border.text-dark(style="margin-left: 48%;")