:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
  }
  
  body {
    font-family: 'Nunito Sans';
    font-size: large;
    padding: 40px;
    background-color: rgb(255, 255, 255);
  }

p {
  font-size: medium;
  text-align:center; 
  margin: 0rem 1rem 1rem 0.5rem;
}
h5.label {
  margin: 1.5rem 0.5rem 1.5rem 0.2rem;
  text-align:center;
  padding: 0.3rem;
}
.modal-content.bg-light {
  border-radius:15px;
  border: 2px outset rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}
table thead {
  background-color: lightslategrey;
  color: white;
  font-weight: normal;
}

.table.table-borderless.table-light.table-striped.table-hover.shadow {
  background-color: white;
  border-spacing: 0; 
  border-collapse: collapse; 
}
i.fas.fa-check-circle {
  margin: 0.5rem 0.5rem 0rem 0.5rem;
}



button.btn.btn-success {
  margin: 1rem 0rem 0.5rem 0.5rem;
  font-size: large;
  border-radius: 15px;
  padding: 1rem;
  width: 80%;
  text-align: center;
}
button.btn.btn-danger {
  margin: 1rem 0rem 0.5rem 0.5rem;
  font-size: large;
  border-radius: 15px;
  padding: 1rem;
  width: 80%;
  text-align: center;
}

a.btn.btn-success {
  margin: 1rem 0rem 0.5rem 0.5rem;
    font-size: large;
    border-radius: 15px;
    padding: 1rem;
    width: 80%;
    text-align: center;
}

a.btn.btn-danger {
  margin: 1rem 0rem 0.5rem 0.5rem;
    font-size: large;
    border-radius: 15px;
    padding: 1rem;
    width: 80%;
    text-align: center;
}

a.btn.btn-secondary {
  margin: 0rem 0rem 0rem 2.6rem; 
  border-radius:8px;
}

.card.shadow{
  width:80%; 
  margin: left; 
  margin-top:18%;
}

.card.shadow {
  background-color: lightslategrey;
  border-color: 0.2px solid lightslategrey;
  margin-top: 5%;
  border-radius: 15px;
  text-align: center;
}


h3 {
  text-align:center; 
  margin: 3rem 1rem 1rem 1rem; 
  padding: 0.5rem;    
}

.col {
  margin: 1rem 1rem 1rem 1rem;
}

label {
  text-align:center; 
  padding:0.5rem; 
  font-size:18px;
} 

label.btn {
  padding: 0.5rem; 
  border-radius:15px;
  font-size: large; 
  margin: 2.4rem 0.25rem 0rem 0.25rem
}

.btn-group.btn-group-toggle {
  margin: 0rem 2rem 0rem 1rem;
}