nav.navbar.navbar-expand-lg.shadow-sm(style="background-color:lightslategrey ;border-radius: 15px; padding: 0.8rem; height: 80px;")
    .container-fluid
        .navbar-header
            a.navbar-brand(href='#' style="color: #FFFFFF;") Bad Analytics
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon    
        .collapse.navbar-collapse(id='navbarNavDropdown')
            ul.navbar-nav.float-left
                li.nav-item.active
                    a.nav-link(href='/dashboard' style="color: #FFFFFF;") Dashboard
                        i.fas.fa-chart-bar(style="margin-left: 0.3rem; margin-right: 0.5rem;")
                li.nav-item
                    a.nav-link(href='/products' style="color: #FFFFFF;;") Products
                        i.fas.fa-shopping-basket(style="margin-left: 0.3rem; margin-right: 0.5rem;") 
                li.nav-item
                    a.nav-link(href='/stores' style="color: #FFFFFF;") Stores
                        i.fas.fa-store(style="margin-left: 0.3rem; margin-right: 0.5rem;")
                li.nav-item
                    a.nav-link(href='/customers' style="color: #FFFFFF;;") Customers
                        i.fas.fa-user(style="margin-left: 0.3rem; margin-right: 0.5rem;")